
<div class="banner-sml">
  <h2>Ce que <span class="donnie">Donnie!</span> vous propose</h2>
</div>
<!-- Carousel with different services going round?  100 vh-->
<!-- Tab design, when click, expands to give the full description of the service   -->

<div class="hrservices">
<!-- <div class="container"> -->
  <h3 class= "text-center">Deux services pour ENFIN savoir ce que pense un RH de votre CV et/ou de votre LinkedIn</h3>
  <div class="row">
    <% @hrservices.each do |hrservice| %>
      <div class="col-xs-12 col-md-6">
        <% if hrservice.entry_service? %>
          <div class="card">
            <div class="card-section">
              <div class="card-title"><%= hrservice.title %></div>
              <%= hrservice.description %>
              <div class="card-price">Prix : <%= number_with_precision(hrservice.price, precision: 2, strip_insignificant_zeros: true)%> €</div>
              <!-- <div class="card-button"><%= link_to 'Prendre RDV', new_hrservice_meeting_path(hrservice), class: "btn-small" %></div> -->
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <h3 class= "text-center"><span class="donnie">Donnie!</span> vous accompagne pour aller voir si l'herbe est plus verte ailleurs</h3>
  <div class="row">
    <% @hrservices.each do |hrservice| %>
      <% if hrservice.hrsbundle? %>
        <div class="col-xs-12 col-md-3">
          <div class="card medium">
            <div class="card-section">
              <div class="card-title"><%= hrservice.title %></div>
              <%= hrservice.description %>
              <div class="card-price">Prix : <%= number_with_precision(hrservice.price, precision: 2, strip_insignificant_zeros: true)%> €</div>
              <!-- <div class="card-button"><%= link_to 'Prendre RDV', new_hrservice_meeting_path(hrservice), class: "btn-small" %></div> -->
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <h3 class= "text-center">Et pour ceux qui veulent un service sur mesure</h3>
  <div class="row">
    <% @hrservices.each do |hrservice| %>
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <% if hrservice.ondemand_service? %>
          <div class="card">
            <div class="card-section">
              <div class="card-title"><%= hrservice.title %></div>
              <%= hrservice.description %>
              <div class="card-price">Prix : <%= number_with_precision(hrservice.price, precision: 2, strip_insignificant_zeros: true) %> € / heure</div>
              <!-- <div class="card-button"><%= link_to 'Prendre RDV', new_hrservice_meeting_path(hrservice), class: "btn-small" %></div> -->
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<!-- </div> -->
</div>


<div class="hrservices">
  <h3 class= "text-center">Les prestations de <span class="donnie">Donnie!</span> en détail</h3>
  <% @hrservices.each do |hrservice| %>
    <table class="table table-fixed table-hover table-small table-responsive">
        <thead>
          <tr>
            <th class="text-center"> </th>
            <th class="text-center">Description</th>
            <th class="text-center">Modalités</th>
            <th class="text-center">Prix</th>
          </tr>
        </thead>
        <tbody>
          <% if hrservice.hrsbundle? %>
            <tr class="table-success">
              <th scope="row" class="col-md-2"><%= hrservice.title %></th>
              <td class="col-md-4"><%= hrservice.description %></td>
              <td class="col-md-4">
                <% hrservice.conditions.each do |condition| %>
                  <ul>
                    <li><%= condition %></li>
                  </ul>
                <% end %>
              </td>
              <td class="col-md-2 text-center">
                <div class="ul-no-bullets">
                  <li><%= number_with_precision(hrservice.price, precision: 2, strip_insignificant_zeros: true) %> €</li>
                  <li>Options : <%= hrservice.options %></li>
                </div>
              </td>
            </tr>
          <% else %>
            <tr>
              <th scope="row" class="col-md-2"><%= hrservice.title %></th>
              <td class="col-md-4"><%= hrservice.description %></td>
              <td class="col-md-4">
                <% hrservice.conditions.each do |condition| %>
                  <ul>
                    <li><%= condition %></li>
                  </ul>
                <% end %>
              </td>
              <td class="col-md-2 text-center">
                <div class="ul-no-bullets">
                  <li><%= number_with_precision(hrservice.price, precision: 2, strip_insignificant_zeros: true) %> €</li>
                  <li>Options : <%= hrservice.options %></li>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
  <% end %>
</div>

<% content_for (:after_js) do %>
  <%= javascript_tag do%>
      <!-- Start of Async Drift Code -->
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('w9h7ice7b2uv');
    <!-- End of Async Drift Code -->
  <% end %>
<% end %>
