
<div class="banner-sml">
  <h2>Ce que <span class="donnie">Donnie!</span> vous propose</h2>
</div>
<!-- Carousel with different services going round?  100 vh-->
<!-- Tab design, when click, expands to give the full description of the service   -->

<div class="hrservices">
<!-- <div class="container"> -->
  <h3 class= "text-center">Deux services pour enfin savoir ce que pense un RH de votre CV et/ou de votre LinkedIn</h3>
  <div class="row">
    <% @hrservices.each do |hrservice| %>
      <% if hrservice.entry_service? %>
        <div class="col-xs-12 col-md-6">
          <div class="card medium">
            <div class="card-section">
              <div class="card-title"><%= hrservice.title %></div>
              <%= hrservice.description %>
              <% hrservice.conditions.each do |condition| %>
                <ul><%= condition %></ul>
              <% end %>
              <div class="card-button-bottom-left">
                <i class="fa fa-plus card-icon" aria-hidden="true"></i>
                <p>de détails</p>
              </div>
              <% if hrservice.title == "Feedback CV/lettre de motivation" %>
                <div class="card-price">Prix par service (CV ou lettre): <%= humanized_money(hrservice.price, precision: 2, strip_insignificant_zeros: true)%> €</div>
              <% else %>
                <div class="card-price">Prix : <%= humanized_money(hrservice.price, precision: 2, strip_insignificant_zeros: true)%> €</div>
              <% end %>
              <!-- TO DO > link_to paiement / stripe -->
              <div class="card-button-bottom-right">
                <%= form_tag orders_path do %>
                  <%= hidden_field_tag 'hrservice_id', hrservice.id %>
                  <%= submit_tag 'Acheter', class: "btn-small" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <h3 class= "text-center"><span class="donnie">Donnie!</span> vous accompagne pour aller voir si l'herbe est plus verte ailleurs</h3>
  <div class="row">
    <% @hrservices.each do |hrservice| %>
      <% if hrservice.hrsbundle? %>
        <div class="col-xs-12 col-md-3">
          <div class="card large">
            <div class="card-section">
              <div class="card-title"><%= hrservice.title %></div>
              <p class="italic"><%= hrservice.subtitle %></p>
              <p><%= hrservice.description %></p>

              <% hrservice.conditions.each do |condition| %>
                <ul><%= condition %></ul>
              <% end %>
              <% if hrservice.options? %>
                <p>Options : <%= hrservice.options %></p>
              <% end %>
              <div class="card-button-bottom-left">
                <i class="fa fa-plus card-icon" aria-hidden="true"></i>
                <p>de détails</p>
              </div>
              <div class="card-price">Prix : <%= humanized_money(hrservice.price, precision: 2, strip_insignificant_zeros: true)%> €</div>
              <!-- TO DO > link_to paiement / stripe -->
              <div class="card-button-bottom-right">
                <%= form_tag orders_path do %>
                  <%= hidden_field_tag 'hrservice_id', hrservice.id %>
                  <%= submit_tag 'Acheter', class: "btn-small" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <h3 class= "text-center">Et pour ceux qui veulent un service sur mesure</h3>
  <div class="row">
    <% @hrservices.each do |hrservice| %>
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <% if hrservice.ondemand_service? %>
          <div class="card">
            <div class="card-section">
              <div class="card-title"><%= hrservice.title %></div>
              <%= hrservice.description %>
              <% hrservice.conditions.each do |condition| %>
                <ul><%= condition %></ul>
              <% end %>
              <div class="card-button-bottom-left">
                <i class="fa fa-plus card-icon" aria-hidden="true"></i>
                <p>de détails</p>
              </div>
              <div class="card-price">Prix : <%= humanized_money(hrservice.price, precision: 2, strip_insignificant_zeros: true) %> € / heure</div>
              <!-- TO DO > link_to paiement / stripe -->
              <div class="card-button-bottom-right">
                <%= form_tag orders_path do %>
                  <%= hidden_field_tag 'hrservice_id', hrservice.id %>
                  <%= submit_tag 'Acheter', class: "btn-small" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<!-- </div> -->
</div>

<div class="hrservices">
  <div class="row">
    <div class="col-xs-12">
        <h3 class="text-center">Vous avez une question mais vous n'êtes pas disponible pour en discuter mainteant ? </h3>
        <p class="text-center"> Envoyez-nous un message :
        <%= mail_to "annesophie.chambon@donnie.fr" do %>
          <span class="mail-address">annesophie.chambon@donnie.fr</span>
        <% end %></p>
      </div>
    </div>
  </div>
</div>



<div class="hrservices" id="detail">
  <h3 class= "text-center title">Les prestations de <span class="donnie">Donnie!</span> en détail</h3>
    <div class="row">
      <div class="headers text-center">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-3 col-md-3 header-item">Description</div>
        <div class="col-xs-4 col-md-4 header-item">Modalités</div>
        <div class="col-xs-3 col-md-3 header-item">Prix</div>
      </div>
    </div>
    <% @hrservices.each do |hrservice| %>
    <div class="row">
      <!-- <div class="table-contents"> -->
        <div class="card-table">
          <div class="col-xs-2 col-md-2 row-title vertical-align bold"><%= hrservice.title %></div>
          <div class="col-xs-3 col-md-3 row-title vertical-align"><%= hrservice.description %></div>
          <div class="col-xs-4 col-md-4 row-item vertical-align">
            <% hrservice.conditions.each do |condition| %>
              <div class="ul-no-bullets">
                <li><%= condition %></li>
              </div>
              </ul>
            <% end %>
          </div>
          <div class="col-xs-3 col-md-3 row-item vertical-align">
            <div class="ul-no-bullets text-center">
              <% if hrservice.title == "Je crois qu'il y a un loup dans ma bergerie, j'ai besoin d'aide" %>
                <li class="margin bold"><%= humanized_money(hrservice.price, precision: 2, strip_insignificant_zeros: true) %> € / heure</li>
              <% else %>
                <li class="margin bold"><%= humanized_money(hrservice.price, precision: 2, strip_insignificant_zeros: true) %> €</li>
              <% end %>
              <% if hrservice.options? %>
                <li class="margin">Options : <%= hrservice.options %></li>
              <% end %>
              <%= form_tag orders_path do %>
                <%= hidden_field_tag 'hrservice_id', hrservice.id %>
                <%= submit_tag 'Acheter', class: "btn-small"  %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

<div class="hrservices">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <span class="scroll">
        <button type="button" class="btn-light" id="scrollup">Revenir au début</button>
      </span>
    </div>
  </div>
</div>

<% content_for (:after_js) do %>
  <%= javascript_tag do%>
      <!-- Start of Async Drift Code -->
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('w9h7ice7b2uv');
    <!-- End of Async Drift Code -->
  <% end %>
<% end %>
