
<% content_for(:navbar_class, "navbar-transparent") %>
<% content_for :meta_title, "Donnie! - Redevenez heureux de travailler" %>
<% content_for :meta_description, "Un RH indépendant à votre écoute, quand vous en avez besoin, pour répondre à vos questions." %>

<script type="text/javascript" src="//cdn.jsdelivr.net/cookie-bar/1/cookiebar-latest.min.js?forceLang=fr&theme=grey&thirdparty=1&top=1&remember=30"></script>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path("donnie3.png")%>)">
  <div class="banner-content">
    <h1><%= image_tag "Donnie_V2.png", class: "donnie-logo text-center" %>Donnie!</h1>
    <p>Ne soyez plus un mouton<br>
    Redevenez heureux de travailler</p>
    <div class="cta-home">
      <%= link_to 'En savoir plus', hrservices_path, class: "btn-xlarge"%>
    </div>
  </div>
</div>

<div class="section">
  <h2>Un RH <b>indépendant</b> à votre écoute, <b>quand vous en avez besoin</b>, pour répondre à vos questions</h2>
</div>

<div class="cards">
  <h3 class="title-home"><span class="donnie">Donnie!</span> travaille avec vous, au travers d'<b>entretiens individuels et personnalisés</b>, pour : </h3>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="card hrservices-home">
        <div class="card-description">
          <div class="hidden-xs hidden-sm">
            <h3 class="text-center">Mieux mettre en avant qui vous êtes et ce que vous savez faire</h3>
          </div>
          <div class="visible-xs visible-sm hrservices-mobile">
            <h3 class="text-center">Mieux mettre en avant qui vous êtes et ce que vous savez faire</h3>
          </div>
          <div class="card-content">
            <p><span class="donnie">Donnie!</span> vous aide à</p>
            <ul>- identifier vos compétences</ul>
            <ul>- faire le point sur votre CV</ul>
            <ul>- avoir un retour objectif et professionnel sur l'image que vous renvoyez à des recruteurs</ul>
          </div>
          <div class="card-image">
            <%= image_tag 'Talk.png', style: 'height:50%;width:50%' %>
          </div>
        </div>
        <%= link_to hrservices_path do %>
          <i class="fa fa-plus card-icon" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card hrservices-home">
        <div class="card-description">
          <h3 class="text-center">Mieux comprendre les recruteurs</h3>
          <div class="card-content">
            <p><span class="donnie">Donnie!</span> travaille avec vous pour</p>
            <ul>- décrypter les processus et les attentes des recruteurs</ul>
            <ul>- adopter les règles du jeu pour mieux vous mettre en valeur</ul>
            <ul>- redonner un coup de jeune à votre CV</ul>
            <ul>- préparer vos entretiens de recrutement</ul>
          </div>
          <div class="card-image">
            <%= image_tag 'CV.png', style: 'height:50%;width:50%'%>
          </div>
        </div>
        <%= link_to hrservices_path do %>
          <i class="fa fa-plus card-icon" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card hrservices-home">
        <div class="card-description">
          <h3 class="text-center">Trouver des réponses à vos questionnements RH</h3>
          <div class="card-content">
            <p><span class="donnie">Donnie!</span> fait aussi du sur-mesure, vous écoute et vous conseille</p>
            <ul>- sur les aspects pratiques RH du quotidien</ul>
            <ul>- dans les situations plus complexes (rupture de contrat, pré-contentieux, situations professionnelles complexes)</ul>
          </div>
          <div class="card-image">
            <%= image_tag 'Exchange.png' %>
          </div>
        </div>
        <%= link_to hrservices_path do %>
          <i class="fa fa-plus card-icon" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="cta text-center">
    <%= link_to 'Découvrir les services', hrservices_path, class: "btn-large"%>
  </div>
</div>

<div class="cards">
  <h3 class="title-home">Les valeurs de <span class="donnie">Donnie!</span></h3>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="card values">
        <div class="card-description-values">
          <h3 class="text-center">Confidentialité</h3>
          <p>Aucun tabou dans les échanges. Toutes les informations sont confidentielles chez <span class="donnie">Donnie!</span> Tout ce que vous nous direz ne pourra JAMAIS être retenu contre vous.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="card values">
        <div class="card-description-values">
          <h3 class="text-center">Au service des individus, pas des entreprises</h3>
          <p><span class="donnie">Donnie!</span> est un service indépendant, qui vous permet d'obtenir une réponse objective et professionnelle à vos questions. Nous ne fournissons aucun service à des entreprises, donc pas de conflit d'intérêt quand il s'agit de vous conseiller.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="card values">
        <div class="card-description-values">
          <h3 class="text-center">Bienveillant</h3>
          <p>Chez <span class="donnie">Donnie!</span>, on vous écoute vraiment, sans jugement subjectif, pour vous aider à trouver une solution à vos interrogations. Chacun a des compétences, des talents (parfois cachés), nous sommes là pour vous aider à les identifier et les mettre en avant.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="card values">
        <div class="card-description-values">
          <h3 class="text-center">Sérieux sans se prendre au sérieux</h3>
          <p>Certes nous sommes optimistes et nous aimons les moutons, mais <span class="donnie">Donnie!</span>, c'est aussi le gage d'un conseil professionnel sur des questions qui sont importantes et critiques pour vous.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="row">
    <div class="col-xs-12">
      <div class="cta">
        <h3 class="text-center">Vous vous reconnaissez ? Vous souhaitez en savoir plus ?</h3>
        <p class="text-center">Nous répondons à vos questions en direct (cliquez sur la bulle en bas à droite de votre écran)</p>
        <h3 class="text-center">Vous avez une question mais vous n'êtes pas disponible pour en discuter maintenant ?</h3>
        <p class="text-center"> Envoyez-nous un message :
        <%= mail_to "annesophie.chambon@donnie.fr" do %>
          <span class="mail-address">annesophie.chambon@donnie.fr</span>
        <% end %></p>
        <h3 class="text-center">Et pour tout savoir sur ce que fait <span class="donnie">Donnie!</span>, c'est par ici ! </h3>
        <div class="cta text-center">
          <%= link_to 'Ce que Donnie! fait pour vous', hrservices_path, class: "btn-large"%>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <h3 class= "text-center">Ce qu'on pense de nous </h3>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="hidden-xs hidden-sm">
        <div class="card">
          <%= render 'testimony' %>
        </div>
      </div>
      <div class="visible-sm visible-xs">
        <div class="card smart">
          <%= render 'testimony'%>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <h3 class="text-center">Les moutons, c'est bien gentil, mais quel est le rapport avec les ressources humaines ?</h3>
  <h3 class="text-center">Découvrez qui se trouve derrière <span class="donnie">Donnie!</span></h3>
  <div class="row">
    <div class="col-xs-12 col-md-3 col-md-offset-1">
      <div class="picture-bio">
        <%= image_tag('ASC.png', width: 200, height: 200, class: "imgbio") %>
      </div>
    </div>
    <div class="col-xs-12 col-md-7">
      <div class="bio-card">
        <h3 class="text-center">Anne-Sophie Chambon - Founder & CTO</h3>
        <div class="section-bio">
          <p class="header-bio">Qui suis-je ?</p>
          <ul><p>- Trentenaire entrepreneuse, fondatrice de <span class="donnie">Donnie!</span>, ex-DRH et codeuse à mes heures</p></ul>
          <ul><p>- Double cursus École Normale Supérieure (Anglais) / Master RH International (Ciffop - Assas Paris II)</p></ul>
          <p class="header-bio">Ce que j'ai fait avant <span class="donnie">Donnie!</span></p>
          <ul><p>- 7 ans d'expérience RH dans des groupes internationaux, sur des postes variés (recrutement, gestion de carrière, rémunération et avantages sociaux, diversité)</p></ul>
          <ul><p>- Précédent poste occupé : DRH d'un périmètre international dans une grande entreprise française</p></ul>
          <ul><p>- Plus de 250 recrutements au compteur, en France et à l'international</p></ul>
          <ul><p>- Des dizaines de personnes accompagnées dans leur évolution professionnelle (mobilité interne, reconversion...)</p></ul>
        </div>
        <div class="section-bio">
          <p class="header-bio">Pourquoi <span class="donnie">Donnie!</span> ?<p> RH mais aussi collaboratrice, j'ai connu les deux côtés du miroir : </p>
          <ul><p>- En tant que collaboratrice, comme vous, je sais ce que c'est d'avoir le sentiment de ne pas être écouté(e) quand nos questionnements dévient de la voie d'évolution standard</p></ul>
          <ul><p>- En tant que recruteuse et RH, après 7 ans à servir les intérêts d'une entreprise, je veux aujourd'hui servir directement les intérêts des hommes et les femmes, indépendamment de l'entreprise. </p></ul>
        </div>
        <div class="social-media-links">
          <a target="_blank" href="https://www.linkedin.com/in/anne-sophie-chambon-920a1637/"><i class="fa fa-linkedin"></i></a>
          <a target="_blank" href="https://twitter.com/Ann3sophie"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3 col-md-offset-1">
      <div class="picture-bio">
        <%= image_tag('donnie-avatar.png', width: 200, height: 200, class: "imgbio") %>
      </div>
    </div>
    <div class="col-xs-12 col-md-7">
      <div class="bio-card">
        <h3 class="text-center">Donnie - Chief Princess Officer</h3>
        <div class="section-bio">
          <p class="header-bio">Bio</p>
          <ul><p>- J'ai 5 ans</p></ul>
          <ul><p>- Fully bilingual : née en Irlande, je vis désormais en France avec Anne-Sophie</p></ul>
          <ul><p>- J'aime : les bracelets et les colliers</p></ul>
          <ul><p>- Je n'aime pas qu'on me prenne pour un mouton</p></ul>
        </div>
        <div class="section-bio">
          <p class="header-bio">Pourquoi <span class="donnie">Donnie!</span> ?<p>
          <ul><p>- Parce que j'ai compris avec Anne-Sophie que j'avais du "leadersheep" (!) et qu'elle m'a poussée à le mettre en avant (comme vous demain !)</p></ul>
          <ul><p>- Parce les discriminations (du style, les moutons, ça n'est bon qu'à brouter), ça me rend chèvre</p></ul>
        </div>
        <div class="social-media-links">
          <a target="_blank" href="https://www.instagram.com/donnie_the_mischievous_sheep/"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for (:after_js) do %>
  <%= javascript_tag do%>
      <!-- Start of Async Drift Code -->
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('w9h7ice7b2uv');
    <!-- End of Async Drift Code -->

    <!-- Start of Google Analytics -->
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-99665703-1', 'auto');
    ga('send', 'pageview');
  <!-- End of Google Analytics -->
  <% end %>
<% end %>

